
    #logo{

    }
    body{
      background-color: #cfd6e3;
    }
    #total-orders{
      background-color: #6a92a6;
    }
    #orders-delivered{
      background-color: #426678;
    }
    #orders-pending{
      background-color: #214252;
    }
